@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts1/SourceSansPro-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "holberton_school-icon";
  src: url("fonts/holberton_school-icon.eot?sq4eq4");
  src: url("fonts/holberton_school-icon.eot?sq4eq4#iefix")
      format("embedded-opentype"),
    url("fonts/holberton_school-icon.ttf?sq4eq4") format("truetype"),
    url("fonts/holberton_school-icon.woff?sq4eq4") format("woff"),
    url("fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="holberton_school-icon-"],
[class*=" holberton_school-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "holberton_school-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.holberton_school-icon-ic_music:before {
  content: "\e90d";
}
.holberton_school-icon-ic_sound:before {
  content: "\e90e";
}
.holberton_school-icon-ic_video:before {
  content: "\e910";
}
.holberton_school-icon-ic_hearing:before {
  content: "\e909";
}
.holberton_school-icon-ic_facebook:before {
  content: "\e908";
}
.holberton_school-icon-ic_instagram:before {
  content: "\e90a";
}

.holberton_school-icon-ic_twitter:before {
  content: "\e90f";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  margin: 0;

  background-color: rgba(255, 255, 255, 1);
}
.header {
  width: 1400px;
  height: 800px;
  margin-top: -28px;
  background-image: url("images/headphones_hero_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Navigation {
  width: 1300.39px;
  height: 32px;
  margin-top: 27.76px;

  gap: 0px;
  opacity: 0px;

  display: flex;
  align-items: center;
}
.navbar {
  margin-left: 630px;
  width: 255px;

  margin-top: 37px;
  display: flex;

  gap: 0px;
  opacity: 0px;

  justify-content: space-between;
}

.navbar .menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.navbar .menu li {
  font-family: Source Sans Pro;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;

  color: rgba(255, 255, 255, 1);
  margin: auto 10px;
}
.navbar .menu li a {
  text-decoration: none;
  color: white;
}
.navbar .menu li a:hover {
  color: rgba(255, 101, 101, 1);
}
.logo {
  width: 161px;
  height: 32px;
  width: 161px;

  margin-top: 27.76px;
  margin-left: 200.61px;
  gap: 0px;
  opacity: 0px;

  gap: 0px;
  opacity: 0px;
}

.content {
  width: 637px;
  height: 376px;
  margin-top: 342px;
  margin-left: 362px;
  gap: 0px;
  opacity: 0px;
}
.content h1 {
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
}

.content p {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.logo1 {
  display: none;
}

.content .text {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 70px;
  padding: 10px;
}

.btn-1 {
  border: none;
  outline: none;
  width: 162px;
  height: 44px;
  margin-top: 100px;
  margin-left: 257px;

  background-color: rgba(255, 101, 101, 1);
  border-radius: 40px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
}
.nav-bar {
  display: none;
}
.menu-close-icon {
  display: none;
}
.menu-icon {
  display: none;
}

.heading {
  width: 637px;
  height: 184px;
  margin-top: 120px;
  margin-left: 382px;
  gap: 0px;
  opacity: 0px;
  color: rgba(7, 22, 41, 1);
}
.heading h1 {
  font-family: "SourcecSansPro";
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  margin-left: 224px;
  width: 190px;
  height: 40px;
}
.heading p {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 637px;
  height: 104px;
  margin-top: 50px;
  gap: 0px;
  opacity: 0px;
  color: rgba(7, 22, 41, 1);
}
.what-we-do-list-box {
  width: 1002px;
  height: 193px;
  margin-top: 120px;
  margin-left: 200px;
  gap: 0px;
  opacity: 0px;
  display: flex;

  flex-direction: row;
  margin-bottom: 100px;
}

.what-we-do-list-item {
  width: 207px;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.what-we-do-list-item p {
  margin-top: 20px;
  gap: 0px;
  opacity: 0px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(7, 22, 41, 1);
}

.what-we-do-list-item h2 {
  margin-top: 50px;
  font-size: 18px;
  color: rgba(7, 22, 41, 1);
}
.sound_icon {
  width: 94.2px;
  height: 65.36px;
  margin-top: 0.02px;

  gap: 0px;
  opacity: 0px;
  color: rgba(255, 101, 101, 1);
  font-size: 100px;
}

.video_icon {
  width: 67.59px;
  height: 76.8px;

  gap: 0px;
  opacity: 0px;

  color: rgba(255, 101, 101, 1);
  font-size: 100px;
}

.music_icon {
  width: 51.66px;
  height: 57.27px;

  gap: 0px;
  opacity: 0px;

  color: rgba(255, 101, 101, 1);
  font-size: 100px;
}

.hearing_icon {
  width: 61.43px;
  height: 61.44px;
  gap: 0px;
  opacity: 0px;
  color: rgba(255, 101, 101, 1);
  font-size: 100px;
}

.what-we-do-list2 {
  margin-left: 30px;
  gap: 0px;
  opacity: 0px;
}
.what-we-do-list3 {
  margin-left: 30px;
  gap: 0px;
  opacity: 0px;
}
.what-we-do-list4 {
  margin-left: 30px;
  gap: 0px;
  opacity: 0px;
}

.results {
  width: 1400px;
  height: 650px;
  top: 1494px;
  margin-left: 1px;
  gap: 0px;
  opacity: 0px;

  background-image: url("images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(40% + 0px) center;

  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.results h2 {
  width: 448px;
  height: 40px;
  margin-top: 141px;
  margin-left: 477px;
  gap: 0px;
  opacity: 0px;
  font-size: 32px;
  align-items: center;
}

.results p {
  width: 637px;
  height: 104px;
  margin-top: 57px;
  margin-left: 382px;
  gap: 0px;
  opacity: 0px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
}

.pentagons {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-left: 207px;
}
.pent-1 {
  width: 190px;
  height: 190px;

  margin-top: 37px;
  gap: 0px;
  opacity: 0px;
}
.pent-1 img {
  width: 190px;
  height: 180px;

  left: 207px;
  gap: 0px;
  opacity: 0px;
}
.pent-2 {
  margin-left: 76px;
}
.pent-1 h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin-top: -120px;
  width: 89px;
  height: 26px;

  margin-left: 51px;
  gap: 0px;
  opacity: 0px;
}

.pent-1 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 111px;
  height: 26px;
  margin-top: 20px;
  margin-left: 40px;
  gap: 0px;
  opacity: 0px;
}

.form {
  width: 335px;
  height: 373px;
  margin-top: 154px;
  gap: 0px;
  opacity: 0px;
  margin-left: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-2 {
  margin-top: 100px;
  margin-left: 90px;
  margin-bottom: 100px;
}
.form h1 {
  height: 40px;

  gap: 0px;
  opacity: 0px;
  font-weight: bolder;
  font-size: 32px;
  line-height: 37.5px;
  text-align: center;
  color: rgba(7, 22, 41, 1);
}
#name {
  width: 335px;
  height: 29px;
  margin-top: 60px;
  gap: 0px;
  opacity: 0px;
  color: rgba(7, 22, 41, 1);
}

#email {
  width: 335px;
  height: 29px;
  margin-top: 35px;
  gap: 0px;
  opacity: 0px;
  color: rgba(7, 22, 41, 1);
}

#message {
  width: 335px;
  height: 29px;
  margin-top: 35px;
  gap: 0px;
  opacity: 0px;
  color: rgba(7, 22, 41, 1);
}

.contact-form input,
.contact-form textarea {
  border: white;
  border-bottom: 1px solid rgba(7, 22, 41, 1);
  background-color: transparent;
  color: rgba(7, 22, 41, 1);
  position: relative;
  box-shadow: 0px 2px 0px 0px rgba(7, 22, 41, 1);
  font-size: 14px;
}

.contact-form input::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(7, 22, 41, 1);
}

footer {
  width: 1400px;
  height: 249px;
  gap: 0px;
  opacity: 0px;
  background-color: rgba(7, 22, 41, 1);
}

footer .logo-footer {
  width: 161px;
  height: 32px;
  margin-top: 91.76px;
  margin-left: 199.61px;
  gap: 0px;
  opacity: 0px;
}

footer p {
  width: 98px;
  height: 15px;
  margin-top: 55px;
  margin-left: 651px;
  gap: 0px;
  opacity: 0.35px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 15.08px;
  opacity: 0.17;
}

footer .icons {
  width: 130px;
  height: 30px;
  margin-top: -90px;
  margin-left: 1070px;
  gap: 0px;
  opacity: 0px;
  color: rgba(255, 255, 255, 1);
}
@media screen and (max-width: 768px) {
  .header {
    width: 768px;
    background-position: center;
  }
  .menu-icon {
    display: none;
  }
  .Navigation {
    width: 633px;
    height: 32px;
    margin-top: 29px;
    margin-left: 66px;
    gap: 0px;
    opacity: 0px;

    gap: 0px;
    opacity: 0px;

    display: flex;
    align-items: center;
  }
  .navbar {
    margin-left: 250px;
    width: 255px;
    height: 15px;

    margin-top: 37px;
    display: flex;

    gap: 0px;
    opacity: 0px;

    justify-content: space-between;
  }

  .navbar .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .header .logo {
    height: 31.18px;
    margin-top: 29px;
    margin-left: 0px;
  }

  .content {
    width: 637px;
    height: 313px;
    margin-top: 342px;
    margin-left: 66px;
  }
  .content h1 {
    width: 578px;

    margin-left: 29px;
  }

  .content .text {
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 70px;
    padding: 10px;
  }

  .btn-1 {
    height: 44px;
    margin-top: 35px;
    margin-left: 247px;
  }

  .heading {
    width: 637px;
    height: 184px;
    margin-left: 66px;
  }
  .what-we-do-list-box {
    width: 472px;
    height: 469px;
    margin-left: 148px;
    gap: 0px;
    opacity: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .music_icon {
    margin-left: -60px;
  }
  .what-we-do-list3 {
    margin-left: 0px;
  }

  .hearing_icon {
    margin-left: -40px;
  }
  .video_icon {
    margin-left: -40px;
  }
  .what-we-do-list-item {
    height: 180px;
  }

  .results {
    width: 768px;
    height: 876px;

    background-position: calc(50% + 0px) center;
  }

  .results h2 {
    margin-left: 162px;
  }

  .results p {
    margin-left: 67px;
  }

  .pentagons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 156px;
    margin-right: 156px;
  }

  .pent-1 p {
    margin-left: 40px;
  }
  .pent-2 {
    margin-left: 10px;
  }
  .pent-3 {
    margin-left: 7px;
  }

  .form {
    margin-left: 218px;
  }
  .btn-2 {
    margin-left: 100px;
  }
  footer {
    width: 768px;
    height: 249px;
  }

  footer .logo-footer {
    width: 162px;
    margin-top: 109px;
    margin-left: 56px;
  }

  footer p {
    margin-left: 335px;
  }

  footer .icons {
    margin-left: 594px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    width: 375px;
    height: 869px;
    background-position: calc(100% + 760px) center;
    transition: background-size 0.3s ease;
  }

  .Navigation {
    width: 161px;

    margin-top: 29px;
    margin-left: 107px;
    gap: 0px;
    opacity: 0px;
  }
  .logo {
    display: none;
  }
  .logo1 {
    display: flex;
    width: 161px;
    height: 32px;
    margin-top: -20px;
    margin-left: 130px;
    gap: 0px;
    opacity: 0px;
  }
  .menu-icon {
    width: 20px;
    height: 14px;

    position: absolute;
    margin-top: 58px;
    margin-left: -60px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 20px;

    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  .menu-icon .line {
    width: 20px;
    height: 2px;
    background: white;
  }

  .menu-icon .line .line2 {
    width: 13px;
  }
  .menu-icon .line:nth-child(2) {
    width: 50%;
  }
  .navbar {
    display: none;
    transition: transform 0.3s ease;
  }

  .menu-icon span:nth-child(3) {
    width: 75%;
  }

  .content {
    width: 357px;
    height: 436px;
    margin-top: 245px;
    margin-left: 10px;
    gap: 0px;
    opacity: 0px;
  }
  .content h1 {
    width: 357px;
    font-size: 32px;
    margin-left: 0px;
  }
  .content .text {
    width: 335px;
    height: 182px;
    margin-left: 11px;
    font-weight: 400;
    font-size: 26px;
  }
  .btn-1 {
    margin-top: 15px;
    margin-left: 97px;
  }

  .nav-bar {
    display: flex;
    margin-top: 30px;
    margin-left: 180px;
  }
  .nav-bar .menu-bar {
    list-style-type: none;

    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  .na-vbar .menu-bar li {
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 700;
    line-height: 15.08px;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
  }
  .nav-bar .menu-bar li a {
    text-decoration: none;
    color: white;
  }
  .nav-bar .menu-bar li a:hover {
    color: rgba(255, 101, 101, 1);
  }

  .menu-close-icon {
    width: 20px;
    height: 14px;
    font-size: 30px;

    margin-top: 40px;
    margin-left: -67px;
    transform: translate(-50%, -50%);

    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    color: white;
  }
  .heading {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    height: 288px;
    margin-left: 25px;
    margin-top: 90px;
  }
  .heading h1 {
    width: 190px;
    height: 40px;
    margin-top: 0px;
    margin-left: 68px;
    line-height: 37.5px;
  }
  .heading p {
    width: 325px;
    height: 208px;
    margin-top: 10px;
    gap: 0px;
    opacity: 0px;
  }
  .what-we-do-list-box {
    width: 207px;
    height: 1020px;
    margin-left: 84px;
    margin-top: -40px;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
  }
  .what-we-do-list2 {
    margin-left: 0px;
    margin-top: -100px;
  }
  .what-we-do-list3 {
    margin-left: 0px;
    margin-top: 50px;
  }
  .what-we-do-list4 {
    margin-left: 0px;
    margin-top: 50px;
  }
  .what-we-do-list-item h2 {
    margin-top: 30px;
  }
  .what-we-do-list-item p {
    margin-top: 10px;
  }
  .results {
    width: 375px;
    height: 1491px;

    background-position: calc(100% + 660px) center;
  }

  .results h2 {
    width: 266px;
    height: 80px;
    margin-left: 56px;
    line-height: 37.5px;
    margin-right: 53px;
    font-size: 32px;
  }

  .results p {
    width: 305px;
    height: 208px;
    margin-left: 56px;
  }

  .pentagons {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 93px;
    margin-right: 93px;
  }

  .pent-1 p {
    margin-left: -55px;
  }
  .pent-2 {
    margin-left: 10px;
  }
  .pent-3 {
    margin-left: 7px;
  }
  .form {
    margin-left: 20px;
  }
  .btn-2 {
    margin-top: 60px;
    margin-left: 100px;
  }

  footer {
    width: 375px;
    height: 249px;
  }

  footer .logo-footer {
    width: 162px;
    height: 32px;
    margin-top: 48px;
    margin-left: 107px;
  }

  footer p {
    margin-top: 125px;
    margin-left: 123px;
    opacity: 0.17;
  }

  footer .icons {
    width: 130px;
    height: 30px;
    margin-top: -100px;
    margin-left: 120px;
  }
  footer span {
    font-size: 40px;
  }
}
